# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# =========================
# Node.js / Expo
# =========================

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example
.env*.local

# TypeScript
*.tsbuildinfo

# generated native folders
/ios
/android

# =========================
# Python
# =========================

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/
.mypy_cache/
.pyre/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Python environment/version
.python-version

# IDEs
.vscode/
.idea/

# Logs
*.log

# SQLite databases
*.sqlite3
*.db

# OS files
Thumbs.db
